{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
    <div class='container'>
        <div class ='row'>
            <h4> Alertas</h4><hr>
        </div>
        <div class = 'row'>
            {% if alertas %}
                <table class="table">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Estado</th>
                    </tr>
                    <tbody>
                        {% for alerta in alertas %}
                            <tr>
                                <td>{{ alerta.fecha }}</td><br>
                                <td>{{ alerta.get_origen_display }}</td><br>
                                <td>{{ alerta.get_motivo_display }}</td><br>
                                <td>{{ alerta.mensaje }}</td><br>
                                <td>{{ alerta.get_estado_display }}</td><br>
                            </tr> 
                        {% endfor %}               
                    </tbody>
                </table>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary" name="convenio" style="width: 100px;">Aceptar</button>
            </form>
        </div>
    </div>
{% endblock %}