{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
    {% load static %}
  <main >
    <div class="row">
      <h4> Avisos</h4><hr>
    </div>
    <div class="container">
      <div class= "row">
        {% for aviso in avisos %}
          <div class="col-4">
            <div class="card" style="">
              <img class="card-img-top" src="{{aviso.imagen.url}}">
              <div class="card-body">
                <div class="card-img-overlay">
                <div class="content" >

                  </h3 class="card-title"> {{ aviso.titulo }} </h3><br>
                  </div>
                </div>
                <h7 class="mb-1 text-muted" style="font-size: 12px;">{{ aviso.publicacion }} </h7>
                <p class="card-text">{{ aviso.cuerpo }} </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}