{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<style>
  label {
    margin: 5px 0px 5px 0px;
  }
</style>

<div class='container'>
  <div class ='row' id = 'encabezado'>
    <h4> Reclamos</h4><hr>
  </div>
  <div class = 'row' >
    <div class = "col-8">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Suministro:</p>
        {{ formulario.suministro }}<br>
        <p>Tipo de Reclamo:</p>
        {{ formulario.tipo_reclamo }}<br><br>
        <p>Detalle:</p>
        {{ formulario.detalle }}<br><br>
        <button type="submit" class="btn btn-outline-primary">Aceptar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}