{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<style>

  input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  border-radius: 5px;
  background: transparent;
  background-color: #cee59d;
}
label{
  color: #228B22;
}
.btn {
  background-color: transparent; 
  color: black; 
  border-radius: 5px;
  border: 2px solid #cee59d;
  box-shadow: rgb(06, 55, 57) 1px 1px;
  padding: 12px 20px;
}
row{
  padding: 12px  12px;
}

 </style>
    <div class='container'>
        <div class ='row'>
            <h4> Reclamos</h4><hr>
        </div>
        <div class = 'row' >
            <div class = "col-8">
               <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table style= "margin: 10px auto;">
                      {{ formulario.as_table }}
                    </table>
                    <button type="submit" class="btn btn-outline-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}