{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
    <div class='container'>
        <div class ='row'>
            <h4> Reclamos</h4><hr>
        </div>
        <div class = 'row'>
            <div class = "col-8">
                Suministro:<br>
                <select class="form-select form-select-sm" id= "selSuministro" >
                    <option selected>006091194 Pj 42/44 San Martin (Reconquista)</option>
                    <option value="1">Seleccionar Suminisro</option>
                    <option value="2">0006091194 Pj 42/44 San Martin (Reconquista)</option>
                </select><br>

                Tipo de Reclamo:<br>
                <select id="tipoReclamo" name="tipo" size="1" class="form-select form-select-sm"> 
                    <option selected>Sin servicio</option>
                    <optiom value="1"> Sin servicio </option>
                    <option value="2"> Variacion de consumo </option>
                    <optiom value="3"> Peligro en Via Publica </option>                         
                    <optiom value="4"> Discrepancia de consumo </option>
                    <optiom value="5"> Pago Repetido </option>
                    <optiom value="6"> Pago a Valor Histórico </option>
                    <optiom value="7"> Reenvío de la Liquidación </option>
                    <optiom value="8"> Pago No Acreditado </option>
                    <optiom value="9"> Liquidación No Recibida </option>
                    <optiom value="10"> Consulta Planes de Pago </option>
                    <optiom value="11"> Otros Motivos </option>
                </select><br>

                Observaciones:<br>
                <textarea id="obs" name="obs" rows="5" cols="80"></textarea><br><br>

                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Archivo adjunto 1 - No obligatorio (Tamaño máximo 1 Mb):
</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Archivo adjunto 2 - No obligatorio (Tamaño máximo 1 Mb):
</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file"><br>
                </div>
                <button type="button" class="btn btn-outline-primary">Aceptar</button><br><br>
            </div>
        </div>
    </div>
{% endblock %}