{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}

<div class='container'>
    <div class ='row' id = 'encabezado'>
        <h4> Estado de Reclamos</h4><hr>
    </div>
    <div class = 'row' >
        <div class = "col-8" >
            <p>Suministro:</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ reclamos.suministro }}
                <button type="submit" class="btn btn-outline-primary" name = "btn_suministro">Seleccionar</button>
                <p>Reclamo:</p>
                {{ seguimiento.lista_reclamos }}
                <button type="submit" class="btn btn-outline-primary" name = "btn_reclamo">Seleccionar</button><br>
            </form>
        </div>
    </div>
    <div class = 'row' style = "margin: 0px 0px 30px 0px;">
        <div class = 'col-md-8'>
            <table>
                <tr>
                    <th>Fecha Solicitud:</th>
                    <td>{{datos_reclamo.alta}}</td>
                </tr>
                <tr>
                    <th>Detalle:</th>
                    <td>{{datos_reclamo.detalle}}</td>
                </tr>
            </table>
            <div class="titulo" align="center"                
                <h3>Estado del Reclamo</h3></th>
            </div>
            <table>
                <tr>
                    <th>Fecha &Uacute;ltima Novedad:</th>
                    <td>{{datos_seguimiento.fecha_novedad}}</td>
                </tr>
                <tr>
                    <th>Area:</th>
                    <td>{{datos_seguimiento.get_area_display}}</td>
                </tr>
                <tr>
                    <th>Observaciones:</th>
                    <td>{{datos_seguimiento.observaciones}}</td>
                </tr>
                <tr>
                    <th>Estado:</th>
                    <td>{{datos_seguimiento.get_estado_display}}</td>
                </tr>
            </table>
        </div>
    </div> </div>
{% endblock %}