$cat .gitignore
.idea/
.idea/*
*.pyc
log/
__pycache__/*
.vscode/*
.idea/*
media/*
AvisosAlertasApp/migrations/
ConsultasApp/migrations/
LiquidacionConveniosApp/migrations/
OficinaVirtualApp/migrations/
PagosApp/migrations/
ReclamosApp/migrations/
UsuarioApp/migrations/


