$cat .gitignore
.idea/
.idea/*
*.pyc
log/
__pycache__/*
.vscode/*
.idea/*
media/*
AvisosAlertasApp/migrations/*.py
ConsultasApp/migrations/*.py
LiquidacionConveniosApp/migrations/*.py
OficinaVirtualApp/migrations/*.py
PagosApp/migrations/*.py
ReclamosApp/migrations/*.py
UsuarioApp/migrations/*.py


*.jpg
