{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<style>

  input[type=text], select {
  padding: 5px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  border-radius: 6px;
  background: transparent;
  background-color: #cee59d;
}
input[type=text]:focus {
  background-color: #c1d691
}

    input[type=password], select {
    padding: 5px 20px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 6px;
    background: transparent;
    background-color: #cee59d;
}
input[type=password]:focus {
    background-color: #c1d691
}
label{
    font-size: 1.2rem;
    color: #228B22;
}

 </style>
<div class='container'>
    <div class ='row'>
        <h4> Datos Personales</h4>
        <hr>
    </div>
     <div class="row" >
                <div class="col-2">
                <label>Apellido:</label> 
                </div>
                <div class="col-3">
                    <INPUT name="apellido" id="apellido" maxlength="90" size="38"  class="form-control" required type='text'><br>
                </div>
            </div>
            <div class="row" >
                <div class="col-2">
                    <label> Nombre:</label>  
                </div>
                <div class="col-3">
                    <INPUT name="nombre" id="nombre" maxlength="90" size="38" class="form-control" required type='text'><br>
                </div>
            </div>
            <div class="row" >
                <div class="col-2">
                    <label> Documento:</label>  
                </div>
                <div class="col-1">
                    <select id="tipodocumento" name="tipodocumento" size="1" class="form-select-sm" required type='text' style = "padding: 8px 5px;"> 
                        <option value="1" selected>DNI</option>          
                        <option value="2" >DU</option>          
                        <option value="3" >CI</option>          
                        <option value="4" >LC</option>          
                        <option value="5" >LE</option>          
                        <option value="6" >PAS</option>
                    </select>
                </div>
                <div class="col-2">            
                    <INPUT name="numerodocumento" id="numerodocumento" size="38" maxlength="8"  class="form-control" required type='text'><br>
                </div>
            </div>

            <div class="row" >
                <div class="col-2">
                    <label>Tel&eacute;fono fijo:</label>
                </div>
                <div class="col-1">
                    <INPUT name="caracteristicafijo" id="caracteristicafijo" size="2" maxlength="4" value="" class="form-control" required type='text'>  
                </div>
                <div class="col-2">
                    <INPUT name="telefonofijo" id="telefonofijo" size="5" maxlength="8"  class="form-control" required type='text' ><br>
                </div>
            </div>
            <div class="row" >
                <div class="col-2">
                    <label> Tel&eacute;fono m&oacute;vil:</label> 
                </div>
                <div class="col-1">
                    <INPUT name="caracteristicacelular" id="caracteristicacelular"  size="2" maxlength="4"  class="form-control" type='text'>
                </div>
                <div class="col-2">
                     <INPUT name="telefonocelular" id="telefonocelular" size="5" maxlength="8" class="form-control" required type='text'><br>
                </div>
            </div>
            <div class="row" >
                <div class='col-2'>           
                    <label>Correo electr&oacute;nico:</label> 
                </div>
                <div class='col-3'>
                    <INPUT name="email" id="email" size="50" maxlength="80" class="form-control" required type='text'><br>
                </div>
            </div>  
            <div class="row" >
                <div class="col-2">    
                   <label>Contrase&ntilde;a:</label> 
                </div>
                <div class="col-3">
                    <INPUT type="password" id="password" name="password2" size="38" maxlength="255" class="form-control" ><br>
                </div>
            </div>
            <div class="row" >
                <div class="col-2">    
                    <label> Confirmar contrase&ntilde;a:</label> 
                </div>
                <div class="col-3">
                    <INPUT type="password" id="password3" name="password3" size="38" maxlength="255" class="form-control" ><br>
                </div>
            </div>
            <div class"row">
                <input type="checkbox" name="autorizado" id="autorizado" value="SI" checked class="txt">&nbsp;<p style='font-size: 0.9rem; padding-left: 14px'>Autorizo a la EPE a utilizar los datos de contacto para brindarle informaci&oacute;n asociada al suministro</p><br><br>
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" id="boton" onclick="submit();"> Guardar </button><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}