{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}

    <h1> Consumos!!!!</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Fecha</th>
      <th scope="col">Consumo</th>
      <th scope="col">blalba</th>
    </tr>
  </thead>
  <tbody>
            <tr class="table-active">
              <th scope="row">Consumo</th>
              <td>01/2020</td>
              <td>3456,78</td>
              <td>No se</td>
            </tr>

            <tr>
              <th scope="row">Default</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>

        <tr class="table-active">
          <th scope="row">Consumo</th>
          <td>01/2020</td>
          <td>3456,78</td>
          <td>No se</td>
        </tr>

        <tr>
          <th scope="row">Default</th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>


  </tbody>
</table>



{% endblock %}