{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}

<div class='container'>
  <div class ='row'>
    <div class = 'col-md-8'>
      <h4> Ultimos Consumos Registrados</h4><hr>
      <p>Suministro:</p>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ consumos.suministro}}<br>
        <button type="submit" class="btn btn-outline-primary" >Seleccionar</button>
      </form>
    </div>
  </div>
  <div class ='row'>
    <div class = 'col-md-8'>
      <table>
        <tr>
          <th></th>
          <th>Preriodo</th>
          <th>Consumo</th>
        </tr>
        <tr>
          {% for dato in datos  %}
            <td>{{forloop.counter}}</td>
            <td>{{dato.periodo }}</td>
            <td>{{dato.consumo}} Kw</td>
          </tr>
          
          {% endfor %}
      </table><br><br>
    </div>
  </div>
</div>
             
{% endblock %}