{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}

<div class='container'>
  <div class ='row'>
    <div class = 'col-md-8'>
      <h4> Ultimos Consumos Registrados</h4><hr>
    </div>
  </div>
  <div class ='row'>
    <div class = 'col-md-8'>
      <p>Suministro:</p>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ consumos.suministro}}<br>
        <button type="submit" class="btn btn-outline-primary" >Seleccionar</button>
      </form>
    </div>
  </div>
  <div class ='row'>
    <div class = 'col-md-8'>
      <table>
        <tr>
          <th></th>
          <th>Medici&oacute;n</th>
          <th>Consumo</th>
        </tr>
        
        {% for dato in datos  %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{dato.periodo}}</td>
          <td>{{dato.consumo}} Kw</td>
        </tr>
        {% empty %}
          <td></td>
          <td>No se registran consumos</td>
          <td></td>
        {% endfor %}
        
      </table><br><br>
    </div>
  </div>
</div>
             
{% endblock %}