{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}

<div class='container'>
  <div class ='row' id = 'encabezado'>
    
      <h4> Consulta Facturas</h4><hr>
  </div>
  <div class = 'row'>
      <div class = 'col'>
      <p>Suministro:</p>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ facturas.suministro}}<br>
        <button type="submit" class="btn btn-outline-primary" >Seleccionar</button>
      </form>
    </div>
  </div>
  <div class ='row'>
    <div class = 'col'>
      <table>
        <tr>
          <th></th>
          <th>Detalle</th>
          <th>Vencimiento</th>
          <th>Importe</th>
          <th>Vencimiento</th>
          <th>Importe</th>
         
        </tr>
          {% for factura in datos  %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{factura.detalle_documento }}</td>
            <td>{{factura.vencimiento_pri}}</td>
            <td>$ {{factura.importe_pri}}</td>
            <td>{{factura.vencimiento_seg}}</td>
            <td>$ {{factura.importe_seg}}</td>

          </tr>
          {% endfor %}
      </table><br><br>
      {{facturas.as_t}}
      
    </div>
  </div>
</div>
{% endblock %}