{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}

<style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 80%;
          }
        td, th {
          border: 1px solid #cee59d;
          text-align: left;
          padding: 8px;
          }
        tr:nth-child(even) {
          background-color: #CEE59D;
          }
        select{
            background-color: #CEE59D;
        }
</style>
<div class='container'>
  <div class ='row'>
    <h4> Consulta Facturas</h4><hr>
    <p>Suministro:<br>
        <select id="suministro" name="suministro" size="1" class="txt">          
          <option value="-1" >Seleccionar suministro</option>          
          <option value="550049" selected>006091194 PJ 42/44 3454 L MARTELOSS 0 (RECONQUISTA)</option> 
        </select><br><br>
  </div>
  <div class ='row'>
    <div class = 'col=6'>

      <table>
        <tr>
          <th width='30%'>Detalle Documento</th>
          <th width='12%'>Vencimiento Cuota 1</th>
          <th width='12%'>Importe Cuota 1</th>
          <th width='12%'>Vencimiento Cuota 2</th>
          <th width='12%'>Importe Cuota 2</th>
          <th width='10%'>Archivo</th>
        </tr>
          <td>Factura-2021-03</td>
          <td>12-07-2021</td>
          <td>$1.534,24</td>
          <td>11-08-2021</td>
          <td>$1.534,24</td>
          <td> </td>
        </tr>
        </tr>
          <td>Factura-2021-03</td>
          <td>12-07-2021</td>
          <td>$1.534,24</td>
          <td>11-08-2021</td>
          <td>$1.534,24</td>
          <td> </td>
        </tr>
        </tr>
          <td>Factura-2021-03</td>
          <td>12-07-2021</td>
          <td>$1.534,24</td>
          <td>11-08-2021</td>
          <td>$1.534,24</td>
          <td> </td>
        </tr>
        </tr>
          <td>Factura-2021-03</td>
          <td>12-07-2021</td>
          <td>$1.534,24</td>
          <td>11-08-2021</td>
          <td>$1.534,24</td>
          <td> </td>
        </tr>
        </tr>
          <td>Factura-2021-03</td>
          <td>12-07-2021</td>
          <td>$1.534,24</td>
          <td>11-08-2021</td>
          <td>$1.534,24</td>
          <td> </td>
        </tr>
       
      </table><br><br>
    </div>
  </div>
</div>
{% endblock %}