<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="OficinaVirtualApp/PlantillaBase.css" rel="stylesheet">
    <title>Oficina Virtual</title>
  </head>
  <body style="background-color: #dff7aa";>
    <!-- Header -->
    <nav id="header" class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="OficinaVirtualApp/logocoop.png" alt="Logo Coop.">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Avisos y Alertas
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="avisos/">Avisos</a></li>
                    <li><a class="dropdown-item" href="alertas/">Alertas</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
              <li class="nav-item autogestion">
                  <a class="nav-link autogestion-toggle" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                    Autogestión
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarAutogestion">
                      <li><a class="dropdown-item" href="liquidacion/">liquidación Deuda</a></li>
                      <li><a class="dropdown-item" href="#">Convenio Pago</a></li>
                      <li><a class="dropdown-item" href="#">Pagar - Boton Pago</a></li>
                      <li><a class="dropdown-item" href="#">Debito automatico</a></li>
                      <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
              <li class="nav-item consulta">
                  <a class="nav-link consulta-toggle" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                    Consultas
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarConsulta">
                      <li><a class="dropdown-item" href="#">Facturas</a></li>
                      <li><a class="dropdown-item" href="#">Consumos</a></li>
                      <li><a class="dropdown-item" href="#">Pagar - Boton Pago</a></li>
                      <li><a class="dropdown-item" href="#">Debito automatico</a></li>
                      <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
              <li class="nav-item reclamos">
                  <a class="nav-link reclamos-toggle" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                    Reclamos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarReclamos">
                      <li><a class="dropdown-item" href="#">Iniciar Reclamo</a></li>
                      <li><a class="dropdown-item" href="#">Consulta Estado Reclamo</a></li>
                      <li><a class="dropdown-item" href="#">Pagar - Boton Pago</a></li>
                      <li><a class="dropdown-item" href="#">Debito automatico</a></li>
                      <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Datos Personales</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Cerrar Sesión</a>
              </li>


          </ul>
        </div>
      </div>
    </nav>
<!-- /Header-->
    <!-- Bloque de Trabajo -->
    {%  block trabajo %} {% endblock %}
    <!-- Fin de Bloque de Trabajo-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous">
    </script>


      <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col" style="text-align:center">
                    <p style="color:#FFFFFF";> Oficina Virtual - Cooperativa de Servicios Públicos</p>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
