{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<div class='container'>
    <div class ='row' id = 'encabezado'>
        <h4> Liquidacion de Deuda / Convenio de Pago</h4><hr>
        <h5>{{usuario}}</h5>
    </div>
    <div class = 'row'>
        <div class = "col-md-8">
            <p>Suministro:</p>
            <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 {{ form.suministro}}
                <button type="submit" class="btn btn-outline-primary" name="sel_suministro">Seleccionar</button>
            </form>
             
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input value = {{suministro}} name = 'su_ministro' hidden>
    <div class = "row">
        <div class = "col-md-8">
            <div class="titulo" align="center"> Seleccione deuda a liquidar
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Documento</th>
                        <th scope="col">Vencimiento</th>
                        <th scope="col">Importe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deuda in deudas %}
                        {% if deuda.estado == "PEN" or deuda.estado == "CPP" %} <!-- Solo se imprimem deudas pendientes o que se encuentran en proseso de generacion de un convenio de pago-->
                        <tr>
                            {% if deuda.estado == "CPP"%}
                                <td><input checked="checked" type="checkbox" value = {{deuda.id}} name="apagar"></td>
                            {% else %}
                                <td><input type="checkbox" value = {{deuda.id}} name="apagar"></td>
                            {% endif %}
                            <td>{{deuda.documento}}</td>
                            <td>{{deuda.vencimiento}}</td>
                            <td>{{deuda.importe}}</td>
                        </tr>
                        {% endif %}
                    {% empty %}
                        <td> No se registran items a abonar </td> 
                    {% endfor %}
                    {% for deuda in deudas2 %}
                        {% if deuda.estado == "PEN" or deuda.estado == "CPP" %} <!-- Solo se imprimem deudas pendientes o que se encuentran en proseso de generacion de un convenio de pago-->
                        <tr>
                            {% if deuda.estado == "CPP"%}
                                <td><input checked="checked" type="checkbox" value = {{deuda.id}} name="apagar"></td>
                            {% else %}
                                <td><input type="checkbox" value = {{deuda.id}} name="apagar"></td>
                            {% endif %}
                            <td>{{deuda.documento}}</td>
                            <td>{{deuda.vencimiento}}</td>
                            <td>{{deuda.importe}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for deuda in deudas2 %}
                    {% if deuda.estado == "PEN" or deuda.estado == "CPP" %} <!-- Solo se imprimem deudas pendientes o que se encuentran en proseso de generacion de un convenio de pago-->
                    <tr>
                        {% if deuda.estado == "CPP"%}
                            <td><input checked="checked" type="checkbox" value = {{deuda.id}} name="apagar"></td>
                        {% else %}
                            <td><input type="checkbox" value = {{deuda.id}} name="apagar"></td>
                        {% endif %}
                        <td>{{deuda.documento}}</td>
                        <td>{{deuda.vencimiento}}</td>
                        <td>{{deuda.importe}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class = 'cont_botones'>
                <button type="submit" class="btn btn-outline-primary" name="pagar" >Cupon Pago</button>
                <button type="submit" class="btn btn-outline-primary" name="convenios">Convenios</button>
            </div>
        </div>
    </form>
    </div>
</div>
<p style='font-size: 0.7rem; padding-left: 14px' ><b>ATENCI&Oacute;N: "GENERAR CONVENIO DE PAGO" PARA OBTENER BENEFICIOS DE TASAS DE INTERES (COVID-19).</b><br>
        Salvo error u omisi&oacute;n (S.E.U.O.). No incluye deudas en: Concurso, Quiebra y/o Demanda Judicial. Los PAGOS realizados en Entidades Externas, se ver&aacute;n reflejados en las pr&oacute;ximas 24/48 hs. h&aacute;biles.<br>
        <b>Si posee una suspensi&oacute;n en el servicio, por falta de pago, abone la liquidaci&oacute;n y con el comprobante de pago, dir&iacute;jase a la Oficina Comercial, para agilizar la restituci&oacute;n del Servicio el&eacute;ctrico</b><br>
</p>


{% endblock %}