{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<style>
  button[type=submit]{
    position: relative;
    left: 10%;
    top: 50%
  }
  div[id = botones]{
    margin: 10px 0px 30px 0px;
  }
</style>
<div class='container'>
    <div class ='row'id = 'encabezado'>
        <h4> Cupones Pendiente de P&aacute;go</h4><hr>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class = 'row'>
        <div class = "col">
          <table>
            <tr>
              <th >Pagar</th>
              <th >Estado</th>
              <th >Vencimiento</th>
              <th >Importe</th>
            </tr>
        
            {% for cupon in cupones  %}
              <tr>
                <td><input type="checkbox" value = {{cupon.id}} name="idcupon"> </td>
                <td>{{cupon.get_estado_display}}</td>
                <td>{{cupon.fecha_vencimiento}}</td>
                <td>$ {{cupon.importe}}</td>
              </tr>
            {% empty %}
              <tr>
                <td>No se registran cupones pendiente de pago</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
          </table><br>
        </div>
      </div>
      <div class = 'row'>
          <div class = "col"> 
            <div class="titulo" align="center"> Seleccione Medio de Pago</div> 
            <div class = 'cont_botones' id = 'botones'>
              <button type="submit" class="btn btn-outline-primary" name="tarjetaDebito">Tarjeta Debito</button>
              <button type="submit" class="btn btn-outline-primary" name="cancelarPago" >  Cancelar  </button> 
            </div>
          </div>
      </div>
    </form>
</div>


{% endblock %}