{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<style>

  input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  border-radius: 6px;
  background: transparent;
  background-color: #cee59d;
}
label{
  color: #228B22;
}
.btn {
  background-color: transparent; 
  color: black; 
  border-radius: 10px;
  border: 2px solid #cee59d;
  box-shadow: rgb(06, 55, 57) 1px 1px;
}

 </style>
<div class='container' style= "paddingbottom: 20px;" >
    <div class ='row'>
        <h4> Baja de Debito Automatico</h4><hr>
    </div>
    <div class = 'row'>
        <div class = "col-8">
          <label for= "selSuministro">Suministro:</label><br>
            <select class="form-select-sm" id="selSuministro" aria-label=".form-select-sm" type= "text">
                {% for sum in suministros %}
                    <option value={{forloop.counter}}>{{sum}}</option>
                {% empty %}
                    <option selected>No hay suministro Asociado</option>
                {% endfor %}
            </select><br>
        <label for= "debitoAuto">Debito Automatico:</label><br>
            <select class="form-select-sm" id="debitoAuto" aria-label=".form-select-sm" type= "text">
                {% for deb in debitos %}
                    <option value={{forloop.counter}}>{{deb}}</option>
                {% empty %}
                    <option selected>No existe debito automatico asociado</option>
                {% endfor %}
            </select><br><br>

        <button type="button" class="btn btn-outline-primary" id="boton" onclick="submit();" > Continuar </button>
        <br><br>
        </div>
    </div>
</div>

{% endblock %}