{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<div class='container'>
    <div class ='row' id = 'encabezado'>
        <h4> Baja de Debito Automatico</h4><hr>
    </div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class = 'row'>
        <div class = "col-8">
            <p>Suministro:</p>
            {{baja.suministro}}
            <button type="submit" class="btn btn-outline-primary" name = "btn_suministro">Seleccionar</button>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-8'>
            <div class="titulo" align="center">
                <h3>Debito Automatico</h3></th>
            </div>
            <table>
                {% for deb in debito  %}
                    <tr>
                        <th>Tarjeta</th>
                        <td>{{deb.get_tarjeta_display}}</td>
                    </tr>
                    <tr>
                        <th> Numero</th>
                        <td>{{deb.numero_tarjeta}}</td>
                    </tr>
                    <tr>
                        <th>Vencimiento</th>
                        <td>{{deb.vencimiento}}
                    </tr>
                    <tr>
                        <th>Banco</th>
                        <td>{{deb.banco}}</td>
                    </tr>
                    <tr>
                        <th>Titular</th>
                        <td>{{deb.nombre}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Alta</th>
                        <td> {{deb.alta}}
                    </tr>
                {% endfor %}
            </table>
             <button type="submit" class="btn btn-outline-primary" name = "btn_baja">Baja</button>
        </div>
    </div>
</div>

{% endblock %}