{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<div class='container'>
    <div class ='row' id = 'encabezado'>
        <h4> Baja de Debito Automatico</h4><hr>
    </div>
    <div class = 'row'>
        <div class = "col-8">
          <label for= "selSuministro">Suministro:</label><br>
            <select class="form-select-sm" id="selSuministro" aria-label=".form-select-sm" type= "text">
                {% for sum in suministros %}
                    <option value={{forloop.counter}}>{{sum}}</option>
                {% empty %}
                    <option selected>No hay suministro Asociado</option>
                {% endfor %}
            </select><br>
        <label for= "debitoAuto">Debito Automatico:</label><br>
            <select class="form-select-sm" id="debitoAuto" aria-label=".form-select-sm" type= "text">
                {% for deb in debitos %}
                    <option value={{forloop.counter}}>{{deb}}</option>
                {% empty %}
                    <option selected>No existe debito automatico asociado</option>
                {% endfor %}
            </select><br><br>

        <button type="button" class="btn btn-outline-primary" id="boton" onclick="submit();" > Continuar </button>
        <br><br>
        </div>
    </div>
</div>

{% endblock %}