{% extends  "OficinaVirtualApp/PlantillaBase.html" %}
{% block trabajo %}
<style>

  input[type=text], select {
  padding: 5px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  border-radius: 6px;
  background: transparent;
  background-color: #cee59d;
}
input[type=text]:focus {
  background-color: #87dd87
}
label{
  color: #228B22;
}
.btn {
  background-color: transparent; 
  color: black; 
  border-radius: 10px;
  border: 2px solid #cee59d;
  box-shadow: rgb(06, 55, 57) 1px 1px;
}

 </style>
<div class='container'>
    <div class ='row'>
        <h4> Adhesi&oacute;n Debito Automatico</h4><hr>
    </div>
    <div class = 'row'>
      <div class = "col-8">
        <label for= "selSuministro">Suministro:</label><br>
            <select class="form-select-sm" id="selSuministro" aria-label=".form-select-sm" type= "text">
                {% for liq in suministros %}
                    <option value={{forloop.counter}}>{{liq}}</option>
                {% empty %}
                    <option selected>No hay suministro Asociado</option>
                {% endfor %}
             </select><br>
        <label>Tarjeta:</label><br>
        <select id="tarjeta" name="tarjeta" size="1" class="form-select-sm" type= "text">
          {% for trj in tarjetas  %}
            <option value={{forloop.counter}}type= "text">{{trj}}</option>
          {% endfor %}          
        </select><br>
        
        <label>Banco:</label><br>
        <select id="banco" name="banco" size="1" class="form-select-sm" type= "text">  
          {% for bco in bancos  %}
            <option value={{forloop.counter}}>{{bco}}</option>
          {% endfor %}        
        </select><br>

        <label>Nombre del titular de la tarjeta:</label><br>
        <INPUT name="nombre" id="nombre" size="38" maxlength="60" value="" class="txt" type= "text"><br>

        <label>Domicilio del titular de la tarjeta:</label><br>
        <INPUT name="domiciliotitular" id="domiciliotitular" size="38" maxlength="60" value="" class="txt" type= "text"><br>
        
        <label>Número de tarjeta: (Ingrese todos los n&uacute;meros sin guiones ni espacios)</label><br>
        <INPUT name="numero" id="numero" size="20" maxlength="16" value="" class="txt" type= "text"><br>
        
       
         <label> Vencimiento de la tarjeta:</label><br>
          
          <select id="mes" name="mes" size="1" class="form-select-sm" type= "text">
            {% for mm  in meses %}
              <option value={{forloop.counter}} >{{mm}}</option> 
            {% endfor %}
                    
          </select> 
          <select id="anio" name="anio" size="1" class="form-select-sm" type= "text">
            {% for fecha in aios %}
              <option value={{forloop.counter}}> {{fecha}}</option>
            {% endfor %}
          </select><br><br>
        

        <button type="button" class="btn" id="boton" onclick="submit();"> Continuar </button><br><br>
        <p style='font-size: 0.7rem; padding-left: 14px'>Estimado Usuario, a partir de la pr&oacute;xima facturaci&oacute;n, ser&aacute; aplicado el d&eacute;bito autom&aacute;tico.  Por favor, verificar su saldo en Liquidaci&oacute;n de deuda y p&aacute;guela a trav&eacute;s de los medios habilitados. Agradecemos su contacto.<br><br>
        </p>
        </form>
    </section>
        </div>
    </div>

</div>

{% endblock %}